

<div class="about-section">
    <h1>About Tata Group</h1>
    <p>Tata Group is an Indian multinational conglomerate
         manufacturer of automobiles, airplanes and other products,
          headquartered in Mumbai, Maharashtra, India. Founded in 1868 by
           Jamshedji Tata, the company gained international recognition after
            purchasing several global companies.
             It is one of the biggest and oldest industrial groups in India. 
             Each Tata company operates independently under the 
             guidance and supervision of its own board of directors and shareholders.</p>
    <p> Significant Tata affiliates include Tata Chemicals,
         Tata Communications, Tata Consultancy Services, 
         Tata Consumer Products, Tata Elxsi, Tata Motors,
          Tata Power, Tata Steel, Jamshedpur FC, Tanishq, 
          Voltas, Tata Cliq, Tata Projects Limited,
           Tata Capital, Titan, Trent, Indian Hotels Company Limited,
            TajAir, Vistara, Cromā, and Tata Starbucks.</p>
  </div>
  
  <h2 style="text-align:center">FOUNDER And CEO</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/Dorabji_Tata_.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Dorabji Tata</h2>
          <p class="title"> Founder</p>
          <p>After Jamsetji's death, his older son Dorabji Tata became the chairman in 1904.
             Sir Dorabji established the Tata Iron and Steel company (TISCO),
            now known as Tata Steel in 1907. Marking the group's global ambitions, 
             Tata Limited opened its first overseas office in London. Following the founder's goals,
            Western India's first hydro plant was brought to life, giving birth to Tata Power.
           Yet another dream, Indian Institute of Science was established with the first batch admitted in 1911.</p>
          
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/J.R.D._Tata_(1955).jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>J. R. D. Tata </h2>
          <p class="title"> Director</p>
          <p>J. R. D. Tata was made chairman of the Tata Group in 1938. Under his chairmanship, the assets of the Tata Group grew from US$101 million to over US$5 billion. Starting with 14 enterprises, upon his departure half a century later in 1988, 
            Tata Sons had grown to a conglomerate of 95 enterprises. 
            These enterprises consisted of ventures that the company had either started or in which they held controlling interest. New sectors such as chemicals, technology.
          </p>
          
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/images/Ratan_Tata_photo.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2> Ratan Tata</h2>
          <p class="title">chairman</p>
          <p>In 1991, Ratan Tata became chairman of Tata Group.[4] This was also the year of economic liberalization in India, opening up the market to foreign competitors.[5] During this time, Tata Group began to acquire a number of companies, including Tetley (2000), Corus Group (2007), and Jaguar and Land Rover (2008). 
              In 2017, Natarajan Chandrasekaran was appointed chairman.</p>

          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  